body {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: rgb(201, 245, 255);
}

main {
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
  background-color: rgb(201, 245, 255);
}

#left-side {
  padding: 0;
  background-image: url('../images/pexels-jaime-reimer-2662116.jpg');
  background-size: cover;
  min-height: 60%;
  min-width: 60%;
}

#right-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  padding: 2rem;
  margin: 5rem;
}


.button-changes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

button {
  border: none;
}

.disable-link {
  pointer-events: none;
  color: grey;
  text-decoration: none;
  opacity: 0.3;
}

.disable-section {
  display: none !important;
}

#form-container-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  padding: 2rem;
  margin: 5rem;
}
