<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Login Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"
    ></script>
</head>
<body>

    <main class="container p-0 d-flex flex-row">
        <section id="left-side">
            <img
                    src="/static/images/pexels-jaime-reimer-2662116.jpg"
                    alt="main-image"
                    width="100%"
                    height="100%"
            />
        </section>

        <!--    LOGIN     -->


        <section class="container col-xl-4 col-lg-6" id="right-side">
            <div class="container" id="form-container-login">
                <div class="form-header d-flex justify-content-center m-3">
                    <h2>Login</h2>
                </div>

                <form th:action="@{/social/login}" method="post" id="login-form" th:object="${userModel}">
                    <div class="form-floating m-2">
                        <input
                                type="text"
                                name="email"
                                class="form-control"
                                id="email"
                                placeholder=""
                        />
                        <span class="text-danger" th:errors="*{email}"></span>
                        <label for="email">E-Mail</label>
                    </div>
                    <div class="form-floating m-2">
                        <input
                                type="password"
                                name="password"
                                class="form-control"
                                id="password"
                                placeholder=""
                        />
                        <span class="text-danger" th:errors="*{password}"></span>
                        <label for="password">Password</label>
                    </div>
                    <div class="row d-flex justify-content-center p-3">
                        <button type="submit" class="btn-lg btn-primary shadow-none">
                            Login
                        </button>
                    </div>
                    <div class="button-changes">
                        <a
                                class="disable-link"
                                href="#"
                                onclick="#"
                                id="login-button-login"
                        >Login</a
                        >
                        <small>|</small>
                        <a
                                class=""
                                href="register"
                                id="register-button-login"
                        >Register</a
                        >
                    </div>
                </form>
            </div>


        </section>
    </main>


<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSgU6"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
